.navbar{
  background-color: #37C3F8;
  color: white;
  text-align: center;
  height: 30px; 
  width: 100vw;
}

.navbar Link{
  /* width: 100%; */
}

.App {
  width: 100vw;
}


img{
  width:100vw;
  height: 300px;
  transition: all 3s;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}



